body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#slide-container {
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
}

#nav-buttons {
    margin-top: 20px;
}

audio {
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
}
